# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore temporary files
*.swp
*.swo
*.tmp

# Ignore environment variables file
.env

# Ignore .DS_Store files
.DS_Store

# Ignore IDE settings
.vscode/
.idea/

# Ignore vercel files
.vercel/

# Ignore build directory
dist/